 .container-fluid > .navbar-collapse 
 {
   margin-right: 0;
   margin-left: 0;
 }
 .navbar-collapse.collapse 
{
   display: block !important;
   height: auto !important;
   padding-bottom: 0;
   overflow: visible !important;
}

.navbar-collapse {
width: auto;
border-top: 0;
box-shadow: none;
}

.navbar-collapse {
max-height: 340px;
padding-right: 15px;
padding-left: 15px;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}