

/*---------------------------------------------------------------------
Calendar configurations
-----------------------------------------------------------------------*/
.calendar-widget, .content {
	box-shadow: 5px 5px 10px #7D7D7D;
	border: 1px solid #C7C7C7;
	margin-top:10px;
	margin-bottom:10px;
	padding: 5px;
	border-radius: 5px;
}

.calendar-controls {
	width:84px;
	margin:auto;
}

.calendar-container {
	width: 100%;
    overflow: auto;
    height: 450px;
    white-space:nowrap;
}

.calendar {
	margin-left:15px;
	margin-right:15px;
	display:inline-block;
	width:540px;
}

.calendar-warning {
	font-weight:900;
	font-size:19px;
}
.fc-day-content:hover{
	cursor: pointer;
}
/*---------------------------------------------------------------------
legend configurations
-----------------------------------------------------------------------*/

.legend-item {
	display:inline-block;
}

.legend-generic {
	margin-bottom:10px;
	text-align: center;
	width: 100px;
	background-color:#666666;
	color:white;
	border-radius: 5px;
	border: 1px solid #C7C7C7;
}
.legend-midterms, .legend-assignments, .legend-labs, .legend-events, .legend-conflicts, .legend-noconflicts{
	margin-bottom:5px;
	text-align: center;
	color:white;
	width: 100px;
	border-radius: 5px;
}

.legend-midterms {
	border: 1px solid #5254FF;
	background-color: #5254FF;
}

.legend-assignments {
	border: 1px solid #FA8A28;
	background-color: #FA8A28;
}

.legend-labs {
	border: 1px solid #9E42FF;
	background-color: #9E42FF;	
}

.legend-events{
	border: 1px solid #1BD12A;
	background-color: #1BD12A;
}

.legend-warning {
	font-weight:bold;
}

.legend-conflicts {
	border: 1px solid #FF1212;
	background-color: #FF1212;
	width: 200px;
	margin: 5px;
}

.legend-noconflicts {
	border: 1px solid #335CFF;
	background-color: #335CFF;
	width: 200px;
	margin: 5px;
}
/*------------------------------------------------------------------------
Tab pane customizations
-------------------------------------------------------------------------*/
.tab-pane {
	padding:20px;
}

.table {
	margin-top:20px;
	margin-bottom:20px;
}

.edit-date{
	font-size:20px;
	cursor:pointer;
}

.pie-chart {
	width:145px;
	height:150px;
}

/*--------------------------------------------------------------
exam table 
---------------------------------------------------------------*/
.table-custom {
	width:100%;
}

td.cell-exam-title-header, td.cell-exam-title {
	width:30%;
	text-align: center;
}

td.cell-exam-conflicts-header, td.cell-exam-conflicts {
	width:25%;
	text-align: center;
}

td.cell-exam-date-header, td.cell-exam-date {
	width:30%;
	text-align: center;
}

td.cell-exam-datechange-header, td.cell-exam-datechange {
	width:7%;
	text-align: center;
}

td.cell-exam-delete-header, td.cell-exam-delete {
	width:7%;
	text-align: center;
}

td.cell-exam-title-header, td.cell-exam-conflicts-header, td.cell-exam-date-header, td.cell-exam-datechange-header, td.cell-exam-delete-header {
	font-weight:bold;
}

.date-chooser {
	width: 100%;
    overflow: auto;
    height: 280px;
    white-space:nowrap;
}

.pie-graph-container {
	display:inline-block;
}

.pie-graph-container th, .pie-graph-container td {
	text-align:center;
}

button.details, button.select {
	margin:5px 0px;
}

.week-prev-next, .week-prev-next td {
	width: 100%;
	text-align:center;
}

/*------------------------------------------------------------
modal dialog
---------------------------------------------------------------*/
.modal-body-lg {
	height:400px;
	padding-top:20px;
}

#saveNewExam {
	margin:10px;
}